
<!-- search -->
<div class="search-box">
  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
  </svg>
  <input type="text" placeholder="Search todo" [(ngModel)]="searchTerm" (keyup)="searchInputKeyUp($event)">
  <a href="javascript:;" class="btn btn-danger" (click)="searchTerm = ''; getTodos(); showSearchText = false" *ngIf="searchTerm.trim() !== ''">
    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
    </svg>
  </a>
  <a href="javascript:;" class="btn btn-primary" (click)="searchTodo(); showSearchText = true" *ngIf="searchTerm.trim() !== ''">Search</a>
  <a href="javascript:;" class="btn btn-secondary"(click)="completeAll()"  ngbTooltip="Complete All" *ngIf="inCompleteLength(todos)">Complete All</a>
  <a href="javascript:;" class="btn btn-secondary" (click)="showClearAllTodosModal()" *ngIf="todos && todos.length > 0"  ngbTooltip="Clear All">Clear All</a>
</div>
<!-- create new todo form -->
<app-todo-form (getTodoEmit)="getTodos(); reSearch()" [categories]="categories" [todos]="todos"></app-todo-form>
<!-- tab -->
<div class="top-tab">
  <div *ngIf="!showSearchText">
    <a href="javascript:;" (click)="getTodos({isComplete: ''})" [class]="this.tab === '' ? 'selected' : ''">All</a>
    <a href="javascript:;" (click)="getTodos({isComplete: false})" [class]="this.tab === false ? 'selected' : ''">Not Completed</a>
    <a href="javascript:;" (click)="getTodos({isComplete: true})" [class]="this.tab === true ? 'selected' : ''">Completed({{todoInfos?.totalComplete}})</a>
  </div>
  <div *ngIf="showSearchText" class="showResultText">Found {{searchTodoTotal}} {{searchTodoTotal <= 1 ? 'result' : 'results'}} for '{{searchTerm}}'</div>
</div>
<!-- list and chart -->
<div class="list-chart">
  <!-- list -->
  <app-todo-list
    class="list"
    (removeTodoEmit)="removeTodoEmit($event);"
    (editTitleOrToggleCompleteEmit)="editTitleOrToggleCompleteEmit($event);"
    [todos]="todos"
    >
  </app-todo-list>
  <!-- chart -->
  <app-todo-chart class="todo-chart" [categoriesData]="categoriesData" [categoriesLabel]="categoriesLabel" ></app-todo-chart>
  <!-- <app-todo-chart class="todo-chart" [todos]="todos" [categoriesLabel]="categoriesLabel"  [categoriesData]="categoriesData"></app-todo-chart> -->
</div>

<!-- modal delete single todo -->
<!-- <app-modal-remove
  *ngIf="currentRemoveTodo"
  [currentRemoveTodo]="currentRemoveTodo"
  (removeTodoModalEmit)="removeTodoModal =!removeTodoModal"
  (removeTodoModalEventEmit)="removeTodoModal =!removeTodoModal; removeTodo($event); getTodos()"
  >
</app-modal-remove> -->

<!-- modal delete all todos-->
<!-- <app-modal-remove
  *ngIf="removeAllTodoModal && removeAllTodos"
  [removeAllTodos]="removeAllTodos"
  (removeTodoModalEmit)="removeAllTodoModal =!removeAllTodoModal; removeAllTodos =!removeAllTodos"
  (removeAllTodoModalEventEmit)="removeAllTodoModal =!removeAllTodoModal; removeAllTodos =!removeAllTodos; deleteAllTodos($event); getTodos()"
  >
</app-modal-remove> -->
<!-- calendar -->
<app-todo-calendar [todos]="calendarEvent"></app-todo-calendar>

<!-- <div *ngIf="removeTodoModal && currentRemoveTodo">
  Are you sure you want to remove todo <strong>{{currentRemoveTodo.title}}</strong>?
  <a href="javascript:;" (click)="removeTodoModal =!removeTodoModal; removeTodo(currentRemoveTodo.id); getTodos()">Yes</a>
  <a href="javascript:;" (click)="removeTodoModal =!removeTodoModal">No</a>
</div> -->