<div class="card" [class]="[style !== undefined ? 'card-' + style.split(' ').join('').toLowerCase() : '']" (click)="getCurrentCardEmit.emit(style)">
  <h2><ng-content></ng-content></h2>
  <p>{{data | number}}</p>
</div>