.card {
  padding: 16px;
  width: 100%;
  cursor: pointer;

  &.card-dailylife {
    color: rgb(103 194 58);
    border: 1px solid rgb(103 194 58 / 10%);

    &:hover{
      background: rgb(103 194 58 / 20%);
    }
  }

  &.card-work {
    color: rgb(245 108 108);
    border: 1px solid rgb(245 108 108 / 10%);

    &:hover {
      background: rgb(245 108 108 / 20%);
    }
  }

  &.card-entertaiment {
    color: rgb(230 162 60);
    border: 1px solid rgb(230 162 60 / 10%);

    &:hover {
      background: rgb(230 162 60 / 20%);
    }
  }

  h2 {
    font-size: 1rem;
    font-weight: normal;
    color: rgb(0 0 0 / .5);
  }

  p {
    font-weight: bold;
    text-align: right;
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}