<app-header-general></app-header-general>
<div class="container">
  <h1>Register</h1>
  <form [formGroup]="registerForm" class="form" (ngSubmit)="register(registerForm.value)">
    <div class="form-row">
      <label for="username">
        Username:
      </label>
      <input type="text" #registerInputElementRef placeholder="Username" formControlName="username" id="username" autofocus />
    </div>
    <!-- end .form-row -->
    <!-- error -->
    <div
      class="form-error"
      *ngIf="registerForm.get('username').invalid && registerForm.get('username').dirty">
      <p *ngIf="registerForm.get('username').errors.required">Username is required</p>
      <p *ngIf="registerForm.get('username').errors.minlength">Username should be at least 2 letters</p>
      <p *ngIf="registerForm.get('username').errors.maxlength">Username should not exceed 30 letters</p>
      <p *ngIf="registerForm.get('username').errors.pattern">Username should be a-z or A-Z, or 0-9</p>
    </div>
    <div class="form-row">
      <label for="password">
        Password:
      </label>
      <input type="password" placeholder="Password" formControlName="password" id="password" />
      
    </div>
    <!-- end .form-row -->
    <!-- error -->
    <div
      class="form-error"
      *ngIf="registerForm.get('password').invalid && registerForm.get('password').dirty">
      <p *ngIf="registerForm.get('password').errors.required">Password is required</p>
      <p *ngIf="registerForm.get('password').errors.minlength">Password should be at least 10 letters</p>
    </div>
    <div class="form-row">
      <label for="confirmpassword">
        Confirm Password:
      </label>
      <input type="password" placeholder="Confirm Password" formControlName="confirmpassword" id="confirmpassword" />
    </div>
    <!-- end .form-row -->
    <!-- error -->
    <div
      class="form-error"
      *ngIf="registerForm.get('confirmpassword').invalid && registerForm.get('confirmpassword').dirty">
      <p *ngIf="registerForm.get('confirmpassword').errors.required">Confirm Password is required</p>
      <p *ngIf="registerForm.get('confirmpassword').errors.mustMatch">Password must match</p>
    </div>
    <p>Have account already?
      <a href="javascript:;" [routerLink]="['/login']">Login here!</a>
    </p>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!registerForm.valid"
    >Register</button>
    <img src="../assets/images/loading.svg" alt="" *ngIf="loading">
    <p *ngIf="errorMessage">{{errorMessage}}</p>
  </form>
</div>
