<div class="box">
  <form [formGroup]="createTodoForm" class="from" (ngSubmit)="createTodo(createTodoForm.value)">
    <label>New:</label>
    <label for="title">
      <input id="title" type="text" formControlName="title" placeholder="Please enter todo title">
    </label>
    <label>
        <input type="text" [owlDateTimeTrigger]="startEndRange" [owlDateTime]="startEndRange" formControlName="startEndRange" placeholder="Please select todo date range"
              [selectMode]="'range'">
        <owl-date-time #startEndRange></owl-date-time>
    </label>
    <label for="category">
      <select id="category" formControlName="category" [(ngModel)]="categories[0].value">
        <option *ngFor="let item of categories" [value]="item.value">{{item.value}}</option>
      </select>
    </label>
    <button
      type="submit"
      class="btn btn-primary"
      ngbTooltip="Create todo"
      [disabled]="!createTodoForm.valid"
    >
      <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
    </button>
    <a href="javascript:;" (click)="formReset()" class="btn btn-secondary" ngbTooltip="Cancel">Cancel</a>
  </form>
</div>
