.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.box {
  border-bottom: 1px solid #e6e6e6;

  input, select{
    border: none;
    height: 100%;
    width: 100%;
  }



  .from {
    display: flex;
  }

  label {
    border-right: 1px solid #e6e6e6;
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;

    &:nth-child(1) {
      padding: 0 15px;
      width: 100px;
    }

    &:nth-child(4) {
      width: 320px;
    }
  }

  .start-end-date-row {
    display: flex;
  }
}