.avatar {
  overflow: hidden;
  width: 40px;
  height: 40px;
  display: inline-block;
  line-height: 38px;
  background-color: rgb(220 223 230);
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  color: black;
  border-radius: 100%;
  border: 2px solid white;
  box-shadow: 1px 2px 2px rgba($color: #000000, $alpha: .2);

  img {
    width: 100%;
    height: 100%;
  }
}