.container {
  padding: 15px;

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }
}

.top-ten-user-list-item {
  display: flex;
  align-items: center;

  .avatar {
    width: 36px;
  }

  .user-name-total {
    padding: 10px;
    width: 150px;

    .user-name {
      text-overflow:ellipsis;
      overflow:hidden; 
    }

    .user-total {

      span {
        font-size: 10px;
        color: rgb(214 214 214);
      }
    }
  }

  .total-info-bar-chart-group {
    width: calc(100% - 35px - 100px);
  }
}

.user-groups {
  margin-bottom: 15px;

  .num {
    color: rgb(0 0 0 / 54%);
    font-size: 14px;
  }
}

// top-total-cards
.top-total-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  app-card {
    width: 23%;
  }
}

table {
  td {
    vertical-align: middle;
  }
}

::ng-deep {
  .selected {
    .card {
        border-left-width: 10px!important;
      &:hover{
        border-left-width: 10px!important;
      }
    }
  }
}

// filter bar
.filter-bar {
  border-top: 1px solid rgba($color: #000000, $alpha: .3);
  border-bottom: 1px solid rgba($color: #000000, $alpha: .3);
  padding: 10px;
  display: flex;
  align-content: stretch;
  align-items: center;

  label {
    margin: 0;

    input {
      height: 38px;
      width: 380px;
    }
  }
}