<app-header></app-header>
<div class="container">
  
  <div class="user-groups" *ngIf="allNonAdminUsers">
    <h2>Communities <span class="num">({{allNonAdminUsers.length}})</span></h2>
    <app-avatar-group [data]="allNonAdminUsers.users" [max]=10></app-avatar-group>
  </div>
  <!-- users avatar groups -->

  <!-- top total cards -->
  <div class="top-total-cards" *ngIf="totalData">
    <app-card [data]="totalData.total | number" [style]="'total'" (getCurrentCardEmit)="getCurrentCardEmit($event)" [class]="category.includes('total') ? 'selected' : ''">Total:</app-card>
    <app-card [data]="totalData.totalDailylifeCat | number" [style]="'Daily life'" (getCurrentCardEmit)="getCurrentCardEmit($event)" [class]="category.includes('Daily life') ? 'selected' : ''">Daily life:</app-card>
    <app-card [data]="totalData.totalWorkCat | number" [style]="'Work'" (getCurrentCardEmit)="getCurrentCardEmit($event)" [class]="category.includes('Work') ? 'selected' : ''">Work:</app-card>
    <app-card [data]="totalData.totalEntertaimentCat | number" [style]="'Entertaiment'" (getCurrentCardEmit)="getCurrentCardEmit($event)" [class]="category.includes('Entertaiment') ? 'selected' : ''">Entertaiment:</app-card>
  </div>
  
  <!-- bar-chart-group -->

  <!-- filter bar goes here -->
  <div class="filter-bar">
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="currentFilterRange" [(ngModel)]="currentFilterRange">
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" value="today" (change)="getRange($event)"> Today
      </label>
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" value="month" (change)="getRange($event)"> Month
      </label>
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" value="year" (change)="getRange($event)"> Year
      </label>
    </div>

    <div class="btn-group btn-group-toggle" ngbRadioGroup name="currentFilterisComplete" [(ngModel)]="currentFilterisComplete">
      <label ngbButtonLabel class="btn-info">
        <input ngbButton type="radio" value="true" (change)="getisComplete($event)"> Completed
      </label>
      <label ngbButtonLabel class="btn-info">
        <input ngbButton type="radio" value="false" (change)="getisComplete($event)"> Incomplete
      </label>
    </div>
    
    <label>
      <input type="text" #startEndRangeRef [owlDateTimeTrigger]="startEndRange" [owlDateTime]="startEndRange" (dateTimeChange)="dateTimeChange($event)" [(ngModel)]="startEndRangeModel" placeholder="Please select date range"
            [selectMode]="'range'">
      <owl-date-time #startEndRange></owl-date-time>
    </label>
    <button (click)="resetCurrentFilterRange()" class="btn btn-warning">Reset</button>
  </div>

  <!-- top 10 user -->
  <div class="top-ten-user-List" *ngIf="topTenUsers">
    <h2>Top 10 (if there is todo)</h2>
    <div *ngFor="let item of topTenUsers"  class="top-ten-user-list-item">
      <ng-container *ngIf="item.data.total > 0">
        <app-avatar [avatar]="item.avatar" class="avatar">{{item.username.slice(0, 2)}}</app-avatar>
        <!-- user avatar -->
        <div class="user-name-total">
          <div class="user-name" [ngbTooltip]="item.username">{{item.username}}</div>
          <div class="user-total"><span>Total: </span>{{item.data.total}}</div>
        </div>
        <!-- user-name-total -->
        <div class="total-info-bar-chart-group">
          <app-total-info-chart-group [data]="item.data" [chartType]="'isBarChartGroup'"></app-total-info-chart-group>
          <!-- bar-chart-group -->
        </div>
      </ng-container>
    </div>
  </div>
  <!-- top-ten-user-List -->

  <table *ngIf="topTenUsers" class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Total</th>
        <th scope="col">Chart</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of topTenUsers; index as i">
        
        <ng-container *ngIf="item.data.total > 0">
          <td>{{i + 1}}</td>
          <td>{{item.username}}</td>
          <td>{{item.data.total}}</td>
          <td>
            <app-total-info-chart-group [data]="item.data" [chartType]="'isCircleChartGroup'"></app-total-info-chart-group>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
