.total-info {
  display: flex;
  width: 100%;

  .bar.total-dailylife-cat {
    text-align: center;
    color: rgb(103 194 58);
    border: 1px solid rgb(103 194 58 / 10%);
    background: rgb(103 194 58 / 20%);
  }

  .bar.total-work-cat {
    text-align: center;
    color: rgb(245 108 108);
    border: 1px solid rgb(245 108 108 / 10%);
    background: rgb(245 108 108 / 20%)
  }

  .bar.total-entertaiment-cat {
    text-align: center;
    color: rgb(230 162 60);
    border: 1px solid rgb(230 162 60 / 10%);
    background: rgb(230 162 60 / 20%);
  }

  .bar.total-complete {
    text-align: center;
    color: rgb(19 170 82);
    border: 1px solid rgb(19 170 82 / 10%);
    background: rgb(19 170 82 / 20%);
  }
  
  .bar.total-inComplete {
    text-align: center;
    color: rgb(214 214 214);
    border: 1px solid rgb(214 214 214 / 10%);
    background: rgb(214 214 214 / 20%);
  }

}

// circle chart
.pie {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  background-image: linear-gradient(to right, transparent 50%, #4CC9D8 0);
  position: relative;
  display: inline-block;
  margin: 10px;

  &.total-dailylife-cat {
    background-image: linear-gradient(to right, transparent 50%, #e0f2d9 0);
  }

  &.total-work-cat {
    background-image: linear-gradient(to right, transparent 50%, #fde2e2 0);
  }

  &.total-entertaiment-cat {
    background-image: linear-gradient(to right, transparent 50%, #faecd9 0);
  }

  &.total-complete {
    background-image: linear-gradient(to right, transparent 50%, #ceeede 0);
  }

  &.total-inComplete {
    background-image: linear-gradient(to right, transparent 50%, #f7f7f7 0);
  }
}

.pie::before {
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: inherit;
  transform-origin: left;
}

.pie::after {
  content: attr(data-total);
  position: absolute;
  width: 70%;
  height: 70%;
  margin: auto;
  border-radius: 50%;
  background-color: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  font: 900 20px/41px Tahoma;
}

.pie.total-dailylife-cat::after {
  border: 1px solid rgb(103 194 58 / 10%);
  color: rgb(103 194 58);
}

.pie.total-work-cat::after {
  border: 1px solid rgb(245 108 108 / 10%);
  color: rgb(245 108 108);
}

.pie.total-entertaiment-cat::after {
  border: 1px solid rgb(230 162 60 / 10%);
  color: rgb(230 162 60);
}

.pie.total-complete::after {
  border: 1px solid rgb(19 170 82 / 10%);
  color: rgb(19 170 82);
}

.pie.total-inComplete::after {
  border: 1px solid rgb(214 214 214 / 10%);
  color: rgb(214 214 214);
}

@for $i from 0 through 50 {
  .pie[data-value="#{$i}"]:before {
    transform: rotate(#{$i/100}turn);
  }
}

@for $i from 51 through 100 {
  .pie[data-value="#{$i}"].total-dailylife-cat:before {
    background-color: #e0f2d9;
    transform: rotate(#{$i/100 - .5}turn);
  }
  .pie[data-value="#{$i}"].total-work-cat:before {
    background-color: #fde2e2;
    transform: rotate(#{$i/100 - .5}turn);
  }
  .pie[data-value="#{$i}"].total-entertaiment-cat:before {
    background-color: #faecd9;
    transform: rotate(#{$i/100 - .5}turn);
  }
  .pie[data-value="#{$i}"].total-complete:before {
    background-color: #ceeede;
    transform: rotate(#{$i/100 - .5}turn);
  }
  .pie[data-value="#{$i}"].total-inComplete:before {
    background-color: #f7f7f7;
    transform: rotate(#{$i/100 - .5}turn);
  }
}
