<div class="total-info" *ngIf="data && chartType === 'isBarChartGroup'">
  <div class="bar total-dailylife-cat" ngbTooltip="Daily life" *ngIf="data.totalDailylifeCat > 0" [ngStyle]="{'width.%': data.totalDailylifeCat / data.total * 100}">{{data.totalDailylifeCat}}</div>
  <div class="bar total-work-cat" ngbTooltip="Work" *ngIf="data.totalWorkCat > 0" [ngStyle]="{'width.%': data.totalWorkCat / data.total * 100}">{{data.totalWorkCat}}</div>
  <div class="bar total-entertaiment-cat" ngbTooltip="Entertaiment"  *ngIf="data.totalEntertaimentCat > 0" [ngStyle]="{'width.%': data.totalEntertaimentCat / data.total * 100}">{{data.totalEntertaimentCat}}</div>
</div>
<!-- total Info bar chart -->
<div class="total-info" *ngIf="data  && chartType === 'isBarChartGroup'">
  <div class="bar total-complete" ngbTooltip="Completed" *ngIf="data.totalComplete > 0" [ngStyle]="{'width.%': data.totalComplete / data.total * 100}">{{data.totalComplete}}</div>
  <div class="bar total-inComplete" ngbTooltip="InCompleted" *ngIf="data.totalInComplete > 0" [ngStyle]="{'width.%': data.totalInComplete / data.total * 100}">{{data.totalInComplete}}</div>
</div>
<!-- total Info bar chart -->

<div class="total-info" *ngIf="data && chartType === 'isCircleChartGroup'">
  <div class="pie total-dailylife-cat" [attr.data-value]="data.totalDailylifeCat / data.total * 100 | number: '1.0-0'" [attr.data-total]="data.totalDailylifeCat" ngbTooltip="Daily life"></div>
  <div class="pie total-work-cat" [attr.data-value]="data.totalWorkCat  / data.total * 100 | number: '1.0-0'" [attr.data-total]="data.totalWorkCat" ngbTooltip="Work"></div>
  <div class="pie total-entertaiment-cat" [attr.data-value]="data.totalEntertaimentCat  / data.total * 100 | number: '1.0-0'" [attr.data-total]="data.totalEntertaimentCat" ngbTooltip="Entertaiment"></div>
 
  <div class="pie total-complete" [attr.data-value]="data.totalComplete  / data.total * 100 | number: '1.0-0'" [attr.data-total]="data.totalComplete" ngbTooltip="Completed"></div>
  <div class="pie total-inComplete" [attr.data-value]="data.totalInComplete  / data.total * 100 | number: '1.0-0'" [attr.data-total]="data.totalInComplete" ngbTooltip="InCompleted"></div>
</div>
<!-- total Info bar chart -->