<app-header></app-header>

<div *ngIf="me">

  <form [formGroup]="updateProfileForm" class="form" enctype="multipart/form-data" (ngSubmit)="updateProfile(updateProfileForm.value)">
    <div class="form-row">
      <label for="avatar">
        Avatar:
      </label>
      <input type="file" #avatarFileInputElementRef id="avatar" accept="image/jpg, image/png, image/gif, image/jpeg" (change)="selectImage($event)" />
      <app-avatar [avatar]="me.avatar" class="avatar">{{me.username.slice(0, 2)}}</app-avatar>
    </div>
    <!-- end .form-row -->
    <!-- error -->

    <div class="form-row">
      <label for="username">
        Username:
      </label>
      <input type="text" placeholder="Username" formControlName="username" id="username" />
    </div>
    <!-- end .form-row -->
    <!-- error -->
    <div
      class="form-error"
      *ngIf="updateProfileForm.get('username').invalid && updateProfileForm.get('username').dirty">
      <p *ngIf="updateProfileForm.get('username').errors.required">Username is required</p>
      <p *ngIf="updateProfileForm.get('username').errors.minlength">Username should be at least 2 letters</p>
      <p *ngIf="updateProfileForm.get('username').errors.maxlength">Username should not exceed 30 letters</p>
      <p *ngIf="updateProfileForm.get('username').errors.pattern">Username should be a-z or A-Z, or 0-9</p>
    </div>
    <div class="form-row">
      <label for="password">
        Current Password:
      </label>
      <input type="password" placeholder="Current Password" formControlName="currentpassword" id="currentpassword" />
      
    </div>
    <!-- end .form-row -->
    <!-- error -->
    <div
      class="form-error"
      *ngIf="updateProfileForm.get('currentpassword').invalid && updateProfileForm.get('currentpassword').dirty">
      <p *ngIf="updateProfileForm.get('currentpassword').errors.required">Current Password is required</p>
      <p *ngIf="updateProfileForm.get('currentpassword').errors.minlength">Current Password should be at least 10 letters</p>
    </div>

    <div class="form-row">
      <label for="password">
        New Password:
      </label>
      <input type="password" placeholder="New Password" formControlName="password" id="password" />
      
    </div>
    <!-- end .form-row -->
    <!-- error -->
    <div
      class="form-error"
      *ngIf="updateProfileForm.get('password').invalid && updateProfileForm.get('password').dirty">
      <p *ngIf="updateProfileForm.get('password').errors.required">Password is required</p>
      <p *ngIf="updateProfileForm.get('password').errors.minlength">Password should be at least 10 letters</p>
    </div>
    <div class="form-row">
      <label for="confirmpassword">
        Confirm New Password:
      </label>
      <input type="password" placeholder="Confirm New Password" formControlName="confirmpassword" id="confirmpassword" />
    </div>
    <!-- end .form-row -->
    <!-- error -->
    <div
      class="form-error"
      *ngIf="updateProfileForm.get('confirmpassword').invalid && (updateProfileForm.get('confirmpassword').dirty)">
      <p *ngIf="updateProfileForm.get('confirmpassword').errors.required">Confirm Password is required</p>
      <p *ngIf="updateProfileForm.get('confirmpassword').errors.mustMatch">Password must match</p>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!updateProfileForm.valid"
    >Update</button>
    <img src="../assets/images/loading.svg" alt="" *ngIf="loading">
    <p *ngIf="errorMessage">{{errorMessage}}</p>
  </form>
</div>