.container {
  padding: 20px;
}
.el-alert {
  margin-bottom: 20px;
}
.form-row {
  padding-bottom: 10px;
}
label {
  width: 150px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}
.el-input {
  width: auto!important;
}

.form-error {
    padding-left: 160px;
}