<div class="chart" *ngIf="categoriesLabel && categoriesData">
  <canvas baseChart
    [data]="categoriesData"
    [labels]="categoriesLabel"
    [chartType]="pieChartType"
    [options]="pieChartOptions"
    [colors]="pieChartColors"
    [legend]="pieChartLegend"
    (notify)="onNotify($event)"
    >
  </canvas>
</div>
