
<!-- content -->
<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- footer -->
<footer>
  <div class="footer">
    <img src="assets/images/small-logo.png" alt="todos">
  </div>
</footer>