<app-header-general></app-header-general>
<div class="container">
  <!-- <router-link
    :to="{name: 'Home'}"
    class="el-icon-back"
  >
    Back to Home page
  </router-link> -->
  <h1>Login</h1>
  
  <!-- <el-alert
    v-if="errorMessage !== ''"
    :title="errorMessage"
    show-icon
    :closable="false"
    type="error">
  </el-alert> -->
  <form [formGroup]="loginForm" class="form" (ngSubmit)="login(loginForm.value)">
    <div class="form-row">
      <label for="username">
        Username:
      </label>
      <input placeholder="Username" formControlName="username" id="username" appAutoFocus />
    </div>
    <!-- end .form-row -->
    <!-- error -->
    <div
      class="form-error"
      *ngIf="loginForm.get('username').invalid && loginForm.get('username').dirty">
      <p *ngIf="loginForm.get('username').errors.required">Username is required</p>
      <p *ngIf="loginForm.get('username').errors.minlength">Username should be at least 2 letters</p>
      <p *ngIf="loginForm.get('username').errors.maxlength">Username should not exceed 30 letters</p>
      <p *ngIf="loginForm.get('username').errors.pattern">Username should be a-z or A-Z, or 0-9</p>
    </div>
    <div class="form-row">
      <label for="password">
        Password:
      </label>
      <input type="password" placeholder="Password" formControlName="password" id="password" />
    </div>
    <!-- end .form-row -->
    <!-- error -->
    <div
      class="form-error"
      *ngIf="loginForm.get('password').invalid && loginForm.get('password').dirty">
      <p *ngIf="loginForm.get('password').errors.required">Password is required</p>
      <p *ngIf="loginForm.get('password').errors.minlength">Password should be at least 10 letters</p>
    </div>
    <p>Have not account?
      <a href="javascript:;" [routerLink]="['/register']">Join us!</a>
    </p>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!loginForm.valid"
    >Login</button>
    <!-- <el-button type="primary" @click="login" v-if="!loading">Login</el-button> -->
    <img src="../assets/images/loading.svg" alt="" *ngIf="loading">
    <p *ngIf="errorMessage">{{errorMessage}}</p>
  </form>