<div class="modal-header">
  <h4 class="modal-title">Remove</h4>
  <button type="button" class="close" aria-label="Close" (click)="removeModal.dismiss('Diss')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-container *ngIf="currentRemoveTodo">
    Are you sure you want to remove todo <strong>{{currentRemoveTodo.title}}</strong>?
  </ng-container>
  <ng-container *ngIf="removeAllTodos">
    Are you sure you want to remove all todos?
  </ng-container>
</div>
<div class="modal-footer">
  <button *ngIf="currentRemoveTodo" type="button" class="btn btn-danger" (click)="removeModal.close(currentRemoveTodo['_id'])">Yes</button>
  <button *ngIf="removeAllTodos" type="button" class="btn btn-danger" (click)="removeModal.close('remove all todos')">Yes</button>
  <button type="button" class="btn btn-light" (click)="removeModal.close('Close')">Close</button>
</div>
