// header
.header {
  height: 60px;
  display: flex;
  background-color: #409EFF;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;

  h1 {
    padding-right: 20px;
    background: url(../../assets/images/logo.png) no-repeat 0 center;
    padding-left: 110px;
    margin: 0;
    height: 60px;
  }
  
  .headerLeft {
    display: flex;
  }

}