
.formRow {
  padding-bottom: 10px;
  display: flex;
  align-items: flex-end;
}
.label {
  width: 150px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
  position: relative;
  top: -10px;
}

.formError {
  padding-left: 160px;
}

// override material ui style
.MuiFormControl-root {
  vertical-align: baseline!important;
}