.avatar-group {
  display: flex;

}

.avatar-box {
  margin-left: -8px;

  &:hover {
    opacity: .8;
    z-index: 10!important;
    cursor: pointer;
  }

  &:first-child {
    margin-left: 0;
  }
}

.remainning-user {
  margin-left: -8px;
  z-index: 1;
  overflow: hidden;
  width: 40px;
  height: 40px;
  display: inline-block;
  line-height: 37px;
  background-color: rgb(189 189 189);
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border-radius: 100%;
  border: 2px solid white;

  &:hover {
    z-index: 10!important;
    text-decoration: none;
  }
}