<div class="avatar-group" *ngIf="data">
  <app-avatar
    *ngFor="let item of data | slice:0:(max === null ? data.length : max); index as i"
    [avatar]="item.avatar"
    class="avatar-box"
    [ngStyle]="{'z-index': data.length - i}"
    [ngbTooltip]="item.username"
  >
    {{item.username.slice(0, 2)}}
  </app-avatar>
  <a
    href="javascript:;"
    *ngIf="max && data.length - max > 0"
    class="remainning-user"
    (click)="max = data.length"
    ngbTooltip="Click me to show all"
    >
    +{{data.length - max}}
  </a>
</div>
