
<div *ngFor="let item of todos; let i = index" [class]="['list-row-' + getCssClass(item.category)]" class="list-row">
  <span class="list-row-num">{{i+1}}</span>
  <div class="list-row-content">
    <div class="list-row-content-inner">
      <div>
        <label>
          <input type="checkbox" (change)="editTitleOrToggleCompleteEmit.emit([item, $event])" [checked]="item.isComplete">
        </label>
        <span>
          <span [class.todo-finished]="item.isComplete" class="list-row-item" (dblclick)="editTitle(item);" *ngIf="currentItem !== item" ngbTooltip="Double click me to edit the title">{{item.title}}</span>
          <input #editTitleInputElementRef class="input-title" type="text" [ngModel]="currentItem.title" *ngIf="currentItem === item" (keyup)="onPressUpdate([item, $event])" (blur)="onBlurUpdate([item, $event])" ngbTooltip="Blur me to update the title">
        </span>
        <p class="list-row-start-end">{{item.start | date: 'MMM d, y, h:mm a' }} to {{item.end | date: 'MMM d, y, h:mm a' }}</p>
      </div>
      <a href="javascript:;" class="detail-arrow" [routerLink]="['/todos/', item._id]" ngbTooltip="View detail">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </a>
  </div>
  <div class="list-row-action">
    <a href="javascript:;" class="btn btn-trash" (click)="removeTodoEmit.emit(item._id)" ngbTooltip="Remove todo">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="rgb(245 108 108)" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
      </svg>
    </a>
    <a href="javascript:;" class="btn btn-light" [routerLink]="['/todos/edit', item._id]" ngbTooltip="Edit todo">
      <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
      </svg>
    </a>
  </div>
</div>