.badge {
  background-color: rgb(64 158 255 / 10%);
  padding: 0 10px;
  height: 32px;
  line-height: 30px;
  font-size: 12px;
  color: rgb(64 158 255);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgb(64 158 255 / 20%);
  white-space: nowrap;

  &.badge-dailylife {
    color: rgb(103, 194, 58);
    border: 1px solid rgb(103, 194, 58, .1);
    background-color: rgba(103, 194, 58,.2);
  }

  &.badge-work {
    color: rgb(245, 108, 108);
    border: 1px solid rgb(245, 108, 108, .1);
    background-color: rgba(245, 108, 108,.2);
  }

  &.badge-entertaiment {
    color: rgb(230, 162, 60);
    border: 1px solid rgb(230, 162, 60,.1);
    background-color: rgba(230, 162, 60,.2);
  }
}
