<div *ngIf="todo">
  <a
    href="javascript:;"
    (click)="backPreviousPage()"
  >
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
    </svg>
    Back to List page
  </a>
  <p>This is todo detail page</p>
  <p>title: {{todo.title}}</p>
  <p>Category: 
    <span class="badge" [class]="'badge-' + getCssClass(todo.category)">{{todo.category}}</span>
  </p>
  <p>Status: {{todo.isComplete ? 'Is Completed' : 'Not Completed'}}</p>
  <p>Date: {{todo.start | date: 'MMM d, y, h:mm a'}} to {{todo.end | date: 'MMM d, y, h:mm a'}}</p>
  <a href="javascript:;" (click)="showRemoveTodoModal(todo)" class="btn btn-danger" ngbTooltip="Remove todo">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="white" xmlns="http://www.w3.org/2000/svg">
      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
    </svg>
  </a>
  <a href="javascript:;" [routerLink]="['/todos/edit', todo._id]" class="btn btn-light" ngbTooltip="Edit todo">Edit</a>
</div>
<!-- modal -->
<!-- <app-modal-remove
  *ngIf="removeTodoModal && todo"
  [currentRemoveTodo]="todo"
  (removeTodoModalEmit)="removeTodoModal =!removeTodoModal"
  (removeTodoModalEventEmit)="removeTodoModal =!removeTodoModal; removeTodo($event); "
  >
</app-modal-remove> -->