<!-- header -->
<header>
  <div class="header">
    <div class="header-left">
      <h1>{{todoInfos !== null ? '(' + todoInfos?.total + ')' : ''}}</h1>
      <div class="header-links" *ngIf="isLoggined() && !isAdmin">
        <a [routerLink]="['/todos']" routerLinkActive="router-link-active">Home</a>
        <a href="javascript:;">About</a>
      </div>
    </div>
    <div class="header-right" *ngIf="me">
      <div class="user-info">
        <p class="user-name">
          <span>Welcome!</span>
          <a [routerLink]="['/profile']">
            {{me.username}}
          </a>
        </p>
        <p class="user-role">Role: {{me.roles[0]}}</p>
      </div>
      <app-avatar [routerLink]="['/profile']" [avatar]="me.avatar" class="avatar">{{me.username.slice(0, 2)}}</app-avatar>
      <a href="javascript:;" class="btn btn-danger" (click)="logout()" ngbTooltip="Logout">
        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-power" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z"/>
          <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z"/>
        </svg>
      </a>
    </div>
  </div>
</header>