// header
.header {
  height: 60px;
  display: flex;
  background-color: #409EFF;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;

  h1 {
    padding-right: 20px;
    background: url(../../assets/images/logo.png) no-repeat 0 center;
    padding-left: 110px;
    color: white;
    font-size: 16px;
    margin: 0;
    height: 60px;
    line-height: 65px;
  }
  
  .headerLeft {
    display: flex;
  }

  .headerRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    .avatar {
      margin-right: 10px;
      height: 40px;
      width: 40px;
      cursor: pointer;

      &:focus {
        outline: none;
      }
      
      &:hover {
        opacity: .8;
      }
    }
    
    .userInfo {
      padding-right: 10px;
      text-align: right;

      p {
        margin: 0!important;
        span {
          font-style: italic;
        }
      }
      a {
        font-weight: bold;
        color: white!important;
      }
    }
  }
}

  .headerLinks a {
    color: black;
    height: 55px;
    line-height: 60px;
    font-size: 16px;
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
    border-bottom: 5px solid rgb(64, 158, 255);
    
    &:hover {
      color: white;
      border-bottom-color: white;
    }
  }

  .headerLinks .routerLinkActive {
    color: white;
    border-bottom-color: white;
    font-weight: bold;
  }