// footer
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
  height: 100%;
  border-top: 1px solid rgb(220, 223, 230);
}

.footer-links {
  padding-top: 10px;
}

  .footer-links a {
    color: black;
    font-size: 12px;
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
  }

  .footer-links a:hover {
    text-decoration: underline;
  }

  .router-link-active {
    font-weight: bold;
  }


  .container {
    padding: 0;
    max-width: 100%;
    min-height: calc(100% - 95px - 60px);

    h1 {
      font-size: 2.5em;
    }
  }
  